body{
    background: rgb(62, 8, 211);
}

header{
    font: normal 20pt Arial;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(255, 217, 0, 0.644);
    color: gainsboro;
    position: relative;
}

section{
    background: rgba(114, 113, 113, 0.76); 
    width: 530px;   
    margin: auto;
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 10px;

}

div{
    width: 300px;
    text-align: center;
    padding: 15px;
    font: normal 10pt Arial;
    position: relative;
    margin: auto;
    }

footer{
    color: cornsilk;
    text-align: center;
    padding: 25px;
    position: relative;
}
